.content{
    background-color: brown;
    grid-area: c;
}
.large_img{
    width: 1000px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
    vertical-align: middle;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 150px;
}
.avatar{
    width: 100px;
    vertical-align: middle;
}